*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 26px;
  background-color: -webkit-linear-gradient(
    0deg,
    #db3f48,
    #692fb4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    0deg,
    #db3f48,
    #692fb4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.main__title {
  color: #fff;
  text-transform: uppercase;
}
.add__input {
  font-weight: 700;
  font-size: 16px;
  color: #3f3e3e;
  padding: 12px 16px;
  border: none;
  border-radius: 5px;

  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
/* .add__input:focus {
  border: none;
  color: #692fb4;
} */
.add__btn {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 16px;
  background-color: #183e9c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;

  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.add__btn:hover {
  background-color: #1cbb44;
}
.form {
  width: 550px;
}
.todo__box {
  background-color: #fff;
  color: #a3a3a3;
  min-height: 450px;
  padding: 12px;
  border-radius: 5px;

  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #983687;
  color: #000;
  border-radius: 5px;

  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

  background-color: -webkit-linear-gradient(
    40deg,
    #db3f48,
    #692fb4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    40deg,
    #db3f48,
    #692fb4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.close__btn {
  border: none;
  width: 35px;
  height: 35px;
  background-image: url(../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: inherit;
  cursor: pointer;
}
.checkbox {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}